html::-webkit-scrollbar {
    background-color: black;
    width: 12px;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
}

.link-custom {
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    /* animate the underline */
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 105%;
    transition: all 0.4s;
    /* animate the underline */
}

/* animate the underline */
.link-custom:hover::after {
    width: 100%;
}