html::-webkit-scrollbar {
    background-color: black;
    width: 5px;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
}

.link-custom {
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    /* animate the underline */
    height: 2px;
    background-color: #96C8FB;
    position: absolute;
    left: 0;
    top: 105%;
    transition: all 0.4s;
    /* animate the underline */
}

/* animate the underline */
.link-custom:hover::after {
    width: 100%;
}

.link-custom:hover {
    color: #96C8FB;
}


.link-custom2 {
    position: relative;
}

.link-custom2::after {
    content: "";
    width: 0%;
    /* animate the underline */
    height: 2px;
    background-color: #DDBDFC;
    position: absolute;
    left: 0;
    top: 105%;
    transition: all 0.4s;
    /* animate the underline */
}

/* animate the underline */
.link-custom2:hover::after {
    width: 100%;
}

.link-custom2:hover {
    color: #DDBDFC;
}

.link-custom3 {
    position: relative;
}

.link-custom3::after {
    content: "";
    width: 0%;
    /* animate the underline */
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 105%;
    transition: all 0.4s;
    /* animate the underline */
}

/* animate the underline */
.link-custom3:hover::after {
    width: 100%;
}

.link-custom3:hover {
    color: white;
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.arrow-animation {
    animation: arrowAnimation 2s linear infinite;
}

.radial-gradient{
    background-image: radial-gradient(circle at top center, hsl(210, 5%, 24%) 2%, black 98%);
}